{% extends 'main/base.html' %}
{% block content %}

<!-- Start page Title Section -->
    <div class="page-ttl">
        <div class="layer-stretch">
            <div class="page-ttl-container">
                <h1>Активация пользователя</h1>
                <p><a href="{% url 'main:home' %}">Главная</a> &#8594; <span>Активация</span></p>
            </div>
        </div>
    </div>
<!-- End page Title Section -->
<!-- Start Login Section -->
    <div id="login-page" class="layer-stretch">
        <div class="layer-wrapper">
            <div class="form-container">
                <h5>Ошибка верификации!</h5>
                Ваша ссылка устарела или неправильно указан почтовый адрес.
            </div>
            <div class="login-link">
                <a href="{% url 'users:register' %}" class="">Зарегистрироваться</a>
            </div>
        </div>
    </div>
<!-- End Login Section -->

{% endblock %}
