{% extends 'main/base.html' %}
{% block content %}

<!-- Start page Title Section -->
    <div class="page-ttl">
        <div class="layer-stretch">
            <div class="page-ttl-container">
                <h1>Смена пароля</h1>
                <p><a href="{% url 'main:home' %}">Главная</a> &#8594; <span>Смена пароля</span></p>
            </div>
        </div>
    </div>
<!-- End page Title Section -->
<!-- Start Login Section -->
    <div id="login-page" class="layer-stretch">
        <div class="layer-wrapper">
            <div class="form-container">
                <h5>Смена пароля прошла успешно!</h5>
                Мы отправили вам новый пароль на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
            Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.
            </div>
            <div class="login-link">
                <a href="{% url 'users:login' %}" class="">Войти</a>
            </div>
        </div>
    </div>
<!-- End Login Section -->

{% endblock %}
