{% extends 'main/base.html' %}
{% load FilterExtension %}
{% block content %}

<!-- Start page Title Section -->
    <div class="page-ttl">
        <div class="layer-stretch">
            <div class="page-ttl-container">
                <h1>Смена пароля</h1>
                <p><a href="{% url 'main:home' %}">Главная</a> &#8594; <span>Смена пароля</span></p>
            </div>
        </div>
    </div>
<!-- End page Title Section -->
<!-- Start Login Section -->
    <div id="login-page" class="layer-stretch">
        <div class="layer-wrapper">
            <div class="form-container">
                <h5>Адрес электронной почты:</h5>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p|reset_password_form }}
                    <div class="form-submit">
                        <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect button button-primary">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- End Login Section -->

{% endblock %}
