{% extends 'main/base.html' %}
{% load FilterExtension %}
{% block content %}

{% if user.is_authenticated %}

<!-- Start page Title Section -->
    <div class="page-ttl">
        <div class="layer-stretch">
            <div class="page-ttl-container">
                <h1>Обновление профиля</h1>
                <p><a href="{% url 'main:home' %}">Главная</a> &#8594; <span>Обновление профиля</span></p>
            </div>
        </div>
    </div>
    <div id="profile-page" class="layer-stretch">

        <div class="layer-wrapper">
            <div class="theme-material-card text-center">
                <form method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">

                    {% csrf_token %}
                    {{ form.as_p|update_form }}

                    </div>
                    <div class="col-md-4">

                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                            {{ form.as_p|update_form }}
                        {% endfor %}

                    </div>
                </div>
                <div class="form-submit">
                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect button button-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

<!-- End page Title Section -->

{% else %}

<!-- Start page Title Section -->
    <div class="page-ttl">
        <div class="layer-stretch">
            <div class="page-ttl-container">
                <h1>Регистрация пользователя</h1>
                <p><a href="{% url 'main:home' %}">Главная</a> &#8594; <span>Регистрация</span></p>
            </div>
        </div>
    </div>
<!-- End page Title Section -->
<!-- Start Register Section -->
    <div class="layer-stretch">
        <div class="layer-wrapper">
            <div class="form-container">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p|registration_form }}
                    <div class="form-submit">
                        <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect button button-primary">Зарегистрироваться</button>
                    </div>
                </form>
                <div class="or-using">Войти через аккаунт</div>
                <div class="social-login">
                    <a href="#" class="social-facebook"><i class="fa fa-facebook"></i>Facebook</a>
                    <a href="#" class="social-google"><i class="fa fa-google"></i>Google</a>
                </div>
                <div class="login-link">
                    <span class="paragraph-small">Аккаунт создан?</span>
                    <a href="{% url 'users:login' %}" class="">Войти</a>
                </div>
            </div>
        </div>
    </div>
<!-- End Register Section -->

{% endif %}

{% endblock %}