{% extends 'main/base.html' %}

{% block content %}

{% if object.owner == user %}

<!-- Start Page Title Section -->
    <div class="page-ttl">
        <div class="layer-stretch">
            <div class="page-ttl-container">
                <h1>Удаление записи</h1>
                <p><a href="{% url 'main:home' %}">Главная</a> &#8594; <span>Удаление записи</span></p>
            </div>
        </div>
    </div>
<!-- End Page Title Section -->

<!-- Start My Profile Section -->
    <div id="profile-page" class="layer-stretch">
        <div class="layer-wrapper">
            <div class="theme-material-card text-center">
                <form method="post">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <div class="theme-block theme-block-hover">

                            {% csrf_token %}
                            <h3>Уверены, что хотите удалить запись на прием?</h3><br><br>
                            Дата приема: {{ object.date }}<BR>
                            Время приема: {{ object.time }}<BR>
                            {{ object.doctor.post.name }}<BR><BR>

                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="form-submit">
                    <input type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect button button-danger" value="Подтвердите удаление">
                </div>
                </form>
            </div>
        </div>
    </div><!-- End My Profile Section -->

{% else %}

{% include 'main/404.html' %}

{% endif %}

{% endblock %}