{% extends 'main/base.html' %}
{% load static %}
{% load FilterExtension %}
{% block content %}

<!-- Start Page Title Section -->
    <div class="page-ttl">
        <div class="layer-stretch">
            <div class="page-ttl-container">
                <h1>Мои записи</h1>
                <p><a href="{% url 'main:home' %}">Главная</a> &#8594; <span>Обзор моих записей на прием</span></p>
            </div>
        </div>
    </div>
    <!-- End Page Title Section -->
    <!-- Start Event Calendar Section -->
    <div class="layer-stretch">
        <div class="layer-wrapper">
            <div class="row">
                <div class="col-md-8">
                    <div class="theme-material-card">
                        <h3>{{ month }} {{ year }}</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="table-primary-head text-center">
                                    <th style="width: 100px">Понедельник</th>
                                    <th style="width: 100px">Вторник</th>
                                    <th style="width: 100px">Среда</th>
                                    <th style="width: 100px">Четверг</th>
                                    <th style="width: 100px">Пятница</th>
                                    <th style="width: 100px">Суббота</th>
                                    <th style="width: 100px">Воскресенье</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for day in days %}
                                        {% if day == 0 %}
                                            </tr>
                                            <tr>
                                        {% else %}
                                            <td {% if day == day_now %} class="table-info" {% endif %} style="height: 100px; text-align: center">
                                                {{ day }}
                                                <BR>
                                                {% for appointment in object_list %}
                                                    {% if day == appointment.date|date_modified %}

                                                        <!-- Start appointment Modal -->
                                                        <div id="{{ appointment.time|time_modified }}" class="modal fade" role="dialog">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header text-center">
                                                                        <h5 class="modal-title">Запись на прием</h5>
                                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                    </div>
                                                                    <div class="modal-body text-left">
                                                                        <div class="table-primary p-3">
                                                                            <span class="paragraph-medium">
                                                                                <span class="text-dark text-left">Прием назначен на: {{ month }} {{ year }} года {{ day }} числа</span>
                                                                                <span>Время приема: {{ appointment.time|time_seconds_modified }} часов</span>
                                                                            </span>
                                                                        </div>
                                                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                                                                            <img class="img-responsive" style="width: 300px" src="{{ appointment.doctor.owner.avatar|mediapath }}" alt="{{ appointment.doctor.owner.last_name }} {{ appointment.doctor.owner.first_name }}"><br>
                                                                            Вас примет: {{ appointment.doctor.owner.last_name }} {{ appointment.doctor.owner.first_name }}<BR>
                                                                            {{ appointment.doctor.post.name }}<BR>
                                                                            {{ appointment.doctor.post.department }}<BR><BR>
                                                                            Статус записи: {{ appointment.status }}<BR><BR>
                                                                            <a href="{% url 'main:delete_appointment' appointment.id %}" class="alert-dark">Отменить запись</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- End appointment Modal -->
                                                        <div class="table-primary">
                                                            <a data-toggle="modal" data-target="#{{ appointment.time|time_modified }}">{{ appointment.time|time_seconds_modified }}</a><br>
                                                        </div>

                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Start blogds post -->
                <div class="col-md-4">
                    <div class="theme-material-card">
                        <div class="sub-ttl">Latest News</div>
                        <a href="#" class="row blog-recent">
                            <div class="col-4 blog-recent-img">
                                <img class="img-responsive img-thumbnail" src="uploads/recent-1.jpg" alt="">
                            </div>
                            <div class="col-8 blog-recent-post">
                                <h4>Why Food Poisoning happened and How To</h4>
                                <p>08 Jun 2017</p>
                            </div>
                        </a>
                        <a href="#" class="row blog-recent">
                            <div class="col-4 blog-recent-img">
                                <img class="img-responsive img-thumbnail" src="uploads/recent-2.jpg" alt="">
                            </div>
                            <div class="col-8 blog-recent-post">
                                <h4>Which Healthy Food Fads Should You Follow?</h4>
                                <p>27 Apr 2017</p>
                            </div>
                        </a>
                        <a href="#" class="row blog-recent">
                            <div class="col-4 blog-recent-img">
                                <img class="img-responsive img-thumbnail" src="uploads/recent-3.jpg" alt="">
                            </div>
                            <div class="col-8 blog-recent-post">
                                <h4>A Broken Heart Can Hurt More Than You Think</h4>
                                <p>29 Jan 2017</p>
                            </div>
                        </a>
                        <a href="#" class="row blog-recent">
                            <div class="col-4 blog-recent-img">
                                <img class="img-responsive img-thumbnail" src="uploads/recent-4.jpg" alt="">
                            </div>
                            <div class="col-8 blog-recent-post">
                                <h4>Keep it Clean: Make Sure Your Fruits and Veggies</h4>
                                <p>24 Jan 2017</p>
                            </div>
                        </a>
                        <a href="#" class="row blog-recent">
                            <div class="col-4 blog-recent-img">
                                <img class="img-responsive img-thumbnail" src="uploads/recent-5.jpg" alt="">
                            </div>
                            <div class="col-8 blog-recent-post">
                                <h4>Should I bring my child in for a routine physical?</h4>
                                <p>15 Jan 2017</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Event Calendar Section -->
    <!-- Start Modal for event -->
    <div id="event-popup" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title font-20">Popup Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <p class="paragraph-medium paragraph-black event-ttl">
                        <span class="theme-dropcap primary-color">E</span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam earum, provident ad, porro aperiam dolore, blanditiis, nihil pariatur eius adipisci consequuntur officiis. Excepturi, nostrum? Id incidunt nesciunt officia hic distinctio.
                    </p>
                    <p class="paragraph-medium paragraph-black event-ttl">
                        Est wisi interpretaris te. Velit oblique vel ex, mea sanctus blandit quaerendum ea, cu movet viris posidonium cum. Ea expetenda repudiandae sit. No animal facilisi conclusionemque pri, cetero reprehendunt te sed. Tale zril veniam pro id, eum eu mucius accusata maluisset. Nemore regione facilisis est te, eius scripta delectus ne eum.
                    </p>
                    <p class="font-16 color-orange event-date text-right"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<!-- End Modal for event -->

{% endblock %}