{% extends 'main/base.html' %}
{% load static %}
{% load FilterExtension %}

{% block content %}

<!-- Start Page Title Section -->
    <div class="page-ttl">
        <div class="layer-stretch">
            <div class="page-ttl-container">
                <h1>Профиль пациента</h1>
                <p><a href="{% url 'main:home' %}">Главная</a> &#8594; <span>Профиль пациента</span></p>
            </div>
        </div>
    </div>
<!-- End Page Title Section -->

<!-- Start My Profile Section -->
    <div id="profile-page" class="layer-stretch">
        <div class="layer-wrapper">
            <div class="theme-material-card text-center">
                <div class="row">
                    <div class="col-md-4">
                        <div class="theme-block theme-block-hover">
                            <div class="theme-block-picture">
                                {% if user.avatar %}
                                    <img style="width: 350px;" src="{{ object.avatar|mediapath }}" alt="Avatar">
                                {% else %}
                                    <img style="width: 300px;" src="{% static 'images/no_foto.jpg' %}" alt="Not Avatar">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                            <i class="fa fa-user-o"></i>
                            <span class="primary-color">{{ object.first_name }}</span>
                            <p class=" mdl-textfield__input"></p>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                            <i class="fa fa-user-o"></i>
                            <span class="primary-color">{{ object.last_name }}</span>
                            <p class=" mdl-textfield__input"></p>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                            <i class="fa fa-phone"></i>
                            <span class="primary-color">{{ object.phone }}</span>
                            <p class=" mdl-textfield__input"></p>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                            <i class="fa fa-map-marker"></i>
                            <span class="primary-color">{{ object.country }}</span>
                            <p class=" mdl-textfield__input"></p>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                            <i class="fa fa-envelope-o"></i>
                            <span class="primary-color">{{ object.email }}</span>
                            <p class=" mdl-textfield__input"></p>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                            <i class="fa fa-calendar"></i>
                            <span class="primary-color">
                                {% if patient.birthday %}
                                    {{ patient.birthday }}
                                {% else %}
                                    не заполнено
                                {% endif %}
                            </span>
                            <p class=" mdl-textfield__input"></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                            <i class="fa fa-address-card"></i>
                            <span class="primary-color">
                                {% if patient.address %}
                                    {{ patient.address }}
                                {% else %}
                                    не заполнено
                                {% endif %}
                            </span>
                            <p class=" mdl-textfield__input"></p>
                        </div>
                        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label form-input-icon">
                            <i class="fa fa-tint"></i>
                            <span class="primary-color">
                                {% if patient.blood_type %}
                                    {{ patient.blood_type }}
                                {% else %}
                                    не заполнено
                                {% endif %}
                            </span>
                            <p class=" mdl-textfield__input"></p>
                        </div>
                        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label form-input-icon">
                            <i class="fa fa-male"></i>
                            <span class="primary-color">
                                {% if patient.gender %}
                                    {{ patient.gender }}
                                {% else %}
                                    не заполнено
                                {% endif %}
                            </span>
                            <p class=" mdl-textfield__input"></p>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                            <i class="fa fa-history"></i>
                            <span class="primary-color">
                                {% if patient.place_of_work %}
                                    {{ patient.place_of_work }}
                                {% else %}
                                    не заполнено
                                {% endif %}
                            </span>
                            <p class=" mdl-textfield__input"></p>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                            <i class="fa fa-futbol-o"></i>
                            <span class="primary-color">
                                {% if patient.hobbies %}
                                    {{ patient.hobbies }}
                                {% else %}
                                    не заполнено
                                {% endif %}
                            </span>
                            <p class=" mdl-textfield__input"></p>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                            <i class="fa fa-superpowers"></i>
                            <span class="primary-color">
                                {% if patient.discount_status %}
                                    Скидка на услуги: {{ patient.discount_status }}%
                                {% else %}
                                    не заполнено
                                {% endif %}
                            </span>
                            <p class=" mdl-textfield__input"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End My Profile Section -->

{% endblock %}